  
  
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0A4B73;
  height: 2000px;
}

header {
  position: sticky;
  top: 0px;
}

#navegacao {
  background-color:#2298E1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #737373;
  padding: 15px;
  font-size: 30px;
  overflow: hidden;
  margin: top 10px;
}

#simbolo {
  font-size: 60px;
}




#item-menu {
  background-color: white;  
  list-style: none;
  float: right;
  margin-top:0px;
  margin-left: px;
  color: #737373;
  
}

main {
  background-color:#2298E1;
  width: 100%;
  margin-left: auto;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
  color: black;
  height: 900px;
  line-height: 200px;
  

}




#logo2 {
  font-size: 10px;
  margin-left:100px;
  margin-right:1500px;
  width: 70px;
  height: 70px;

  
  
}

#logo3 {
  font-size: 10px;
  margin-left:40px;
  margin-right:40px;
  width: 70px;
  height: 0px;

  
  
}

#logo4 {
  font-size: 10px;
  margin-right:100px;
  margin-left: 1430px;
  width: 70px;
  height: 70px;
}




.mini-linha{
  background-color:rgb(250, 242, 242);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  display: inline-block;
  text-align:center;
  font-size: 40px;
  margin-top: 40px;
  color: rgb(136, 132, 132);
  height: 400px;
  line-height: 100px;
  

}




.mini-linha1{
  background-color:rgb(250, 242, 245);
  width: 100%;
  margin-left: 10px;
  margin-right: 0px;
  padding: 0px;
  display: inline-block;
  text-align:center;
  font-size: 40px;
  margin-top: 40px;
  color:  rgb(136, 132, 132);
  height:300px;
  line-height: 100px;
}








#logo {
  float: left;
  background-color: white;

}





li:hover {
  background-color: white;
  color: black;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
}

li {
  display: inline-block;
  padding: 15px;
  margin: top 10px;
}


footer {
 background-color:#2298E1;
  width: 100%;
  margin-left: 10px;
  margin-right: 0px;
  padding: 0px;
  display: inline-block;
  text-align:left;
  margin-top: 40px;
  color: rgb(22, 2, 2);
  height: 900px;
  line-height: 100px;
  

}

#bloco-final{
  background-color:rgb(250, 242, 242);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: inline-block;
  text-align:left;
  margin-top: 40px;
  color: rgb(22, 2, 2);
  height: 800px;
  line-height: 100px;
  

}
